<!DOCTYPE html>
{% extends "testapp/base.html" %}
{% block content %}
<form  method="POST">
  {% csrf_token %}
  bookid:<input type="text" name="bid" class="form-control">
  bookname:<input type="text" name="bname" class="form-control">
  bookauthor:<input type="text" name="bauthor" class="form-control">
  bookcost:<input type="text" name="bcost" class="form-control">
  <input type="submit"  value="submit" class="btn btn-success">
  <input type="reset"  value="clear" class="btn btn-danger"><br>
  <a href="{% url 'home' %}" class="btn btn-info">goto home page</a>

</form>
{% endblock %}
